[Desktop Entry]

Name=Commuslamfy
Comment=Avoid capitalism with Captain Communist
Exec=hocoslamfy-od
Terminal=false
Type=Application
Icon=hocoslamfy
X-OD-Manual=manual-en.txt
StartupNotify=true
Categories=games;
